/* Container styles */
.bgImageContainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Background image styles */
.bgImage {
    background-image: url('/images/bg/illustration.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: transform 0.5s ease, transform-origin 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .bgImageContainer{
        height: 400px;
    }
    .bg-image {
        /* Adjust the scale on smaller screens if needed */
        transform: scale(1.05);
    }
}