.marquee {
    overflow: hidden;
    position: relative;
    width: 100%;

    /* z-index: 999999; */
    /* padding-bottom: 50px; */
    /* padding-bottom: 200px; */
    /* padding-bottom: 100px; */
}

.marquee__inner {
    display: flex;
    gap: 900px;
    width: max-content;
    animation: marquee 26s linear infinite;
}

.marquee__inner img {
    height: 80px !important;
    margin-right: 1050px;
}
/* .marquee__inner img {
    height: 80px !important;
    margin-right: 1050px;
} */
@media (max-width: 480px) {
    .marquee__inner img {
        height: 40px !important;
    }
  }

/* New class to reverse the animation direction */
.reverse {
    animation-direction: reverse;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-70%);
    }
}